<div class="row" *ngIf= "currentGame === true">
  <div class="col-9">
    <ng-container *ngFor="let number of playerInput; let i = index">
      <div *ngIf="(i+1)%9===0">
        <div class="row">
          <ng-container *ngFor="let input of playerInput; let j = index">
              <input [(ngModel)]="input.guess"
              *ngIf="j<=i && j > i-9 &&((input.notes.length===0 || input.correct === true)||(selectedNumberBox === input && noteModeOn === false))"
              (click) ="setSelectedNumberBox(input)"
              id={{j}} class="col-sm numberBox"
              [class.outerLeft]="(j%9)===0"
              [class.outerRight]="(j+1)%9===0"
              [class.outerTop]= "j<9"
              [class.outerBottom]= "j>71"
              [class.innerRight]="((j+1)-3)%9===0 || ((j+1)-6)%9===0"
              [class.innerBottom]="i===26 || i===53"
              [class.correct]="input.correct===true"
              [class.incorrect]="input.correct===false"
              [attr.disabled]="input.correct? '':null"
              />
              <div *ngIf="j<=i && j > i-9 && input.notes.length!=0 && input.correct != true"
              (click) ="setSelectedNumberBox(input)"
              id={{j}}
              class="col-sm numberBox noteMode"
              [attr.hidden]="selectedNumberBox === input && noteModeOn === false? '': null"
              [class.outerLeft]="(j%9)===0"
              [class.outerRight]="(j+1)%9===0"
              [class.outerTop]= "j<9"
              [class.outerBottom]= "j>71"
              [class.innerRight]="((j+1)-3)%9===0 || ((j+1)-6)%9===0"
              [class.innerBottom]="i===26 || i===53"
              [class.correct]="input.correct===true"
              [class.incorrect]="input.correct===false"
              [attr.disabled]="input.correct? '':null" >
                <div *ngFor="let note of input.notes; let k = index">
                  {{note}}
                </div>
                <!-- <input *ngFor="let note of input.notes; let k = index"[(ngModel)]="note"/> -->
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-3">
    <div class="btn-group btn-group-toggle row" data-toggle="buttons">
      Toggle between Note Mode and Guess Mode<br>
      You are in <span *ngIf="noteModeOn">Note Mode</span>
      <span *ngIf="!noteModeOn">Guess Mode</span>
      <div class="col-2"></div>
      <label class="btn btn-secondary btn-sm col-5"
      [class.active]="!noteModeOn"
      (click)="toggleNotesWithGuess(false)"
      >
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Guess
      </label>
      <label class="btn btn-secondary btn-sm col-5"
      [class.active]="noteModeOn"
      (click)="toggleNotesWithGuess(true)"
      >
        <input type="radio" name="options" id="option2" autocomplete="off">
        Note
      </label>
    </div>
    <div class="editNotes" *ngIf="noteModeOn && selectedNumberBox != undefined && selectedNumberBox.correct != true">
      update notes here:
      <button *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
      class='col-4'
      [class.active]="noteModeOn"
      (click)="addNumberToNotes(number)"
      >
      <span *ngIf= 'selectedNumberBox.notes.includes(number)'>x</span>
      <span *ngIf= '!selectedNumberBox.notes.includes(number)'>+</span>
      {{number}}
      </button>
    </div>
  </div>
</div>
