<div class="row">
  <div class="col-sm-9 gameboard">
    <ng-container *ngFor="let number of playerInput; let i = index">
      <div *ngIf="(i+1)%9===0">
        <div class="row numberRows">
          <ng-container *ngFor="let input of playerInput; let j = index">
              <input [(ngModel)]="input.guess"
              *ngIf="j<=i && j > i-9 &&((input.notes.length===0 || input.correct === true)||(selectedNumberBox === input && noteModeOn === false))"
              maxlength="1"
              (click) ="setSelectedNumberBox(input)"
              id={{j}} class="col-sm numberBox"
              [attr.hidden]="selectedNumberBox === input && noteModeOn === true && input.correct != true? '': null"
              [class.gameWon]='!smileIndex.indexOf(j) >= 0 &&gameWon === true'
              [class.smile]='smileIndex.indexOf(j) >=0 && gameWon===true'
              [class.outerLeft]="(j%9)===0"
              [class.outerRight]="(j+1)%9===0"
              [class.outerTop]= "j<9"
              [class.outerBottom]= "j>71"
              [class.innerRight]="((j+1)-3)%9===0 || ((j+1)-6)%9===0"
              [class.innerBottom]="i===26 || i===53"
              [class.selected]="selectedNumberBox===input"
              [class.correct]="input.correct===true"
              [class.incorrect]="input.correct===false && input.guess != ''"
              [attr.disabled]="input.correct? '':null"
              />
              <div *ngIf="j<=i && j > i-9 && ((input.notes.length!=0 && input.correct != true) || (selectedNumberBox === input && noteModeOn == true))"
              (click) ="setSelectedNumberBox(input)"
              id={{j}}
              class="col-sm numberBox"
              [attr.hidden]="selectedNumberBox === input && noteModeOn === false || input.correct === true? '': null"
              [class.outerLeft]="(j%9)===0"
              [class.outerRight]="(j+1)%9===0"
              [class.outerTop]= "j<9"
              [class.outerBottom]= "j>71"
              [class.innerRight]="((j+1)-3)%9===0 || ((j+1)-6)%9===0"
              [class.innerBottom]="i===26 || i===53"
              [class.selected]="selectedNumberBox===input && gameWon === false"
              [attr.disabled]="input.correct? '':null" >
                <div class="noteDiv col-4"*ngFor="let note of input.notes; let k = index">
                  {{note}}
                </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-sm-3 noteSection">
    Toggle between Note Mode and Guess Mode<br>
    <div class="btn-group btn-group-toggle row" data-toggle="buttons">
      <label class="btn btn-secondary btn-sm col-6"
      [class.active]="!noteModeOn"
      (click)="toggleNotesWithGuess(false)"
      >
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Guess
      </label>
      <label class="btn btn-secondary btn-sm col-6"
      [class.active]="noteModeOn"
      (click)="toggleNotesWithGuess(true)"
      >
        <input type="radio" name="options" id="option2" autocomplete="off">
        Note
      </label>
    </div>
    <div id="whichMode">
      You are in
      <span *ngIf="noteModeOn">
        <em>Note</em> Mode
        <br><br> Select a square to add notes to.
      </span>
      <span *ngIf="!noteModeOn">
        <em>Guess</em> Mode.
        <br><br> Type your guess directly into the square.
      </span>
    </div>
    <div class="editNotes"
      *ngIf="noteModeOn && selectedNumberBox != undefined && selectedNumberBox.correct != true">
    <div
    *ngIf="selectedNumberBox.notes.length<9"
    class="editNotesButtons">
      Add Number:
      <div class=" row">
        <div *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9]" class="col-3-sm col-xs">
          <button
          *ngIf='selectedNumberBox.notes.indexOf(number)<0'
          class="numberBtns btn btn-sm "
          [class.active]="noteModeOn"
          [class.removeNumber]="selectedNumberBox.notes.indexOf(number)>=0"
          [class.addNumber]="selectedNumberBox.notes.indexOf(number)<0"
          (click)="addNumberToNotes(number)">
           {{number}}
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="selectedNumberBox.notes.length>0"class="editNotesButtons">
      <br>Remove Number:
      <div class=" row">
        <div *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9]" class="col-3-sm col-xs">
          <button
          *ngIf='selectedNumberBox.notes.indexOf(number)>=0'
          class="numberBtns btn btn-sm "
          [class.active]="noteModeOn"
          [class.removeNumber]="selectedNumberBox.notes.indexOf(number)>=0"
          [class.addNumber]="selectedNumberBox.notes.indexOf(number)<0"
          (click)="addNumberToNotes(number)">
           {{number}}
          </button>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>
