.gameBoard{
  z-index: 1;
}

.numberBox{
  border: .5px solid #6c757d;
  background-color: white;
  text-align: center;
  padding: 0;
  min-height: 50px;
  min-width: 50px;
  max-height: 50px;
  max-width: 50px;
}

.numberRows{
  margin-right: 11%;
  margin-left: 0;
  float: right;
}

.outerLeft{
  border-left: 3px solid #403F4C;
}
.outerRight{
  border-right: 3px solid #403F4C;
}
.outerTop{
  border-top: 3px solid #403F4C;
}
.outerBottom{
  border-bottom: 3px solid #403F4C;
}

.innerRight{
  border-right: 1.5px solid #403F4C;
}
.innerBottom{
  border-bottom: 1.5px solid #403F4C;
}
.selected{
  background-image: radial-gradient(white, white, #BED0E0);
}
.incorrect{
  background-color: red;
  background-image: none;
}
.correct{
  background-color: #FCFCC2;
  background-image: none;
}

.rowBuffer{
  border-top: none;
}

.noteSection{
  padding-left: 2em;
  text-align: center;
  font-size: .75em;
}

.noteDiv{
  padding: 0;
}
.btn.btn-secondary.active{
   background-color: #403F4C;

}
#whichMode{
  text-align: center;
}

#whichMode em{
  font-weight: bold;
  font-style: normal;
}
.numberBox.noteMode{
  margin: 0;
}

.numberBtns{
  margin-right: .1em;
  margin-top:.25em;
}
.editNotesButtons{
  text-align: left;
}

.removeNumber{
  background-color: #403F4C;
  color: white;
}

.addNumber{
  background-color: #6c757d;
  color: white;
}

.numberAction{
  font-size: .25em;
}

.noteDiv{
  font-size: .5em;
  float: left;
  font-weight: bold;
}

.btn-group-toggle{
  width:100%;
  margin: .75em 0 .75em 0;
}

@keyframes winningGame {
    from {
      background-color: #FCFCC2;
      border: .5px solid #6c757d;
    }
    to {
      border: none;
      background-color: #FCFCC2;
      background-image: none;
      color: #FCFCC2;
      z-index: -2;
    }
}

@keyframes smileAnimation {
    from {
      background-color: #FCFCC2;
      border: .5px solid #6c757d;
    }
    to {
      background-image: none;
      background-color: #403F4C;
      border: none;
      color: #403F4C;
    }
}

.gameWon{
  border: .5px solid #6c757d;
  animation-name: winningGame;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
.smile{
  background-color: #403F4C;
  border: none;
  color: #403F4C;
  animation-name: smileAnimation;
  animation-duration: 4s;
  animation-fill-mode: forwards;

}

@media only screen and (max-width: 770px){
  .numberBox{
    text-align: center;
    padding: 0;
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
  }

  .numberRows{
    margin-right: 15%;
    margin-left: 0;
    float: right;
  }

  .noteDiv{
    font-size: 7.5px;
    float: left;
    font-weight: bold;
  }

  .noteSection{
    margin: 0;
    padding: 0
  }

}
@media only screen and (max-width:667px){

  
}
